* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    background-image: url("https://i.redd.it/ezv32x2rls251.jpg");
    background-size: cover;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  body {
    background-color: white;
  } 

  .namonai {
    color: black;
    font-weight: bold;
  }
