* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
   
   
  h1 {
    color: SeaGreen;
    background-color: black;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   
   
  a {
    text-decoration: none;
  }

  body {
    background-image: url("https://i.redd.it/ezv32x2rls251.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  } 

  .namonai {
    color: black;
    font-weight: bold;
  }
